<div class="event {{type}}" data-key="{{key}}">
  {{#if clear}}
  <i class="fa fa-check"></i>
  <span class="text">
    {{systemName}} reported clear by {{reporterName}}
  </span>  
  {{else}}
  <i class="fa fa-crosshairs"></i>
  <span class="text">
    {{reported pilots}} reported in {{systemName}} by {{reporterName}}
  </span>  
  {{/if}}
  <div class="right">
    <span class="time">{{time}}</span>
  </div>
</div>
