extends ../layout/default

block content
  #dim
    #content-wrapper
      #link
        form(action='/link', method='POST')
          img#logo(src='/images/panel-logo.png', alt='Standing Fleet')
          p.strong Hello, #{user.username}
          p In order to view a fleet, you need to link this session to a pilot that's logged in inside of Eve.
          
          if error != ''
            span.error=error
            
          a.logout.button(href='/logout')
            i.fa.fa-sign-out.fa-large
              |  Logout  
              
          h2 Client Download
          dl.download
            dt 
              i.fa.fa-windows 
              |  Windows
            dd
              a(href='/clients/client-1.0.6.zip') client-1.0.6.zip
              
          h2 Link Session To Pilot

          p.field
            input(type='text', name='key', placeholder='Pilot Key')
            i.fa.fa-fighter-jet.fa-large
          p.submit
            button(type='submit', name='submit')
              i.fa.fa-arrow-right.fa-large

      if linked  
        .linked.panel
          img(src='https://image.eveonline.com/Character/#{linked.characterId}_128.jpg' title='#{linked.characterName}')
          h2 #{linked.name}
          dl
            dt Pilot Key
            dd= linked.key
            dt Fleet Link
            dd
              a(href='/#{linked.fleetKey}/')= linked.fleetKey
            dt Current System
            dd= linked.systemName
            dt Ship Type
            dd= linked.shipType

          a.button(href='/unlink')
            i.fa.fa-chain-broken.fa-large
            |  Unlink
