<div class="event {{type}}" data-key="{{key}}">
  {{#if type}}
  <img class="icon" src="/images/icon-{{type}}.png" />
  {{else}}
  <i class="fa fa-exclamation-triangle"></i>
  {{/if}}
  <span class="text">{{{text}}}</span>
  <div class="right">
    {{#if respondable}}
    <span class="response">
      <a href="javascript:EventList.eventResponseClick('{{key}}', 'y')">Approve</a>
      &nbsp;|&nbsp;
      <a href="javascript:EventList.eventResponseClick('{{key}}', 'n')">Deny</a>
    </span>
    {{/if}}
    <span class="time">{{time}}</span>
  </div>
</div>
