<div class="screen {{status}}">
  <div class="console">
    <h2>{{{hud_status_text status}}}</h2>

    <div class="vicinity">
      <h3>Vicinity</h3>
      <table>
        <tbody>
        {{#each vicinity}}
        <tr>
          <td><i class="fa fa-{{{hud_neighbor_status id name}}}"></i></td>
          <td>{{ name }}</td>
        </tr>
        {{else}}
        <tr>
          <td colspan="2">No Connecting Systems</td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    <div class="hostiles">
      <h3>Hostiles</h3>
      <ul>
        {{#each hostiles }}
        <li>
          {{ characterName }}{{#if shipType }}: <i class="fa fa-fighter-jet"></i> {{ shipType }}{{/if}}
        </li>
        {{else}}
        <li>None reported</li>
        {{/each}}
      </ul>
    </div>

    <div class="advisories">
      <h3>Advisories</h3>
      <ul>
        {{#each advisories }}
          <li><i class="fa fa-{{ui_icon type}}"></i> {{ type }}</li>
        {{else}}
          <li>None reported</li>
        {{/each}}
      </ul>
    </div>

    {{#each neighbors}}
    {{#if system.name}}
    <h3>{{system.name}}: {{hostiles}} hostile{{#if hostiles}}s{{/if}} {{#if faded}}({{faded}} faded){{/if}}</h3>
    {{/if}}
    {{/each}}

  </div>
</div>
