<table class="member" id="member-{{characterId}}">
  <tr>
    <td class="name"><a href="javascript:CCPEVE.showInfo(1377, {{characterId}});">{{characterName}}</a></td>
    <td class="actions">
      <a title="Start Conversation" onClick="CCPEVE.startConversation({{characterId}})"><i class="fa fa-comment" title="Start Conversation"></i></a>
      <a title="Killboard: {{characterName}}" target="_blank" href="https://zkillboard.com/character/{{characterId}}/"><i class="fa fa-crosshairs" title="Killboard"></i></a>
    </td>
  </tr>
</table>
