<div class="panel {{type}}">
  <div class="header">
    {{#if closeable}}<i class="close fa fa-times fa-2x" onClick="UIPanels.hidePanel()"></i>{{/if}}
    {{#if icon}}<i class="fa fa-{{ui_icon icon}} fa-3x"></i>{{/if}}
    {{#if image}}<img src="/images/{{image}}" alt="Panel image" />{{/if}}
    {{#if logo}}<img id="logo" src="/images/panel-logo.png" alt="Standing Fleet" />{{/if}}
    {{#if title}}<div class="text title">{{{title}}}</div>{{/if}}
  </div>
  <div class="content">
  {{#if text}}
    <div class="text {{#if textclass}}{{textclass}}{{/if}}">{{{text}}}</div>
  {{/if}}
  {{#if error}}
    <span class="error">{{{error.message}}}</span>
  {{/if}}
  {{#if formitems}}
    <div class="form">
    {{#each formitems}}
      {{#if input}}
      <div class="group">
        {{#if input.legend}}<span class="legend">{{{input.legend}}}</span>{{/if}}
        <input {{#if input.id}}id="{{input.id}}" {{/if}}{{#if input.max}}max="{{input.max}}" {{/if}}{{#if input.class}}class="{{input.class}}" {{/if}}value="{{{input.value}}}" type={{#if input.hidden}}"hidden"{{else}}"text"{{/if}} {{#if input.readonly}}readonly="true"{{/if}} {{#if input.onblur}}onblur="{{input.onblur}}"{{/if}} {{#if input.label}}placeholder="{{{input.label}}}"{{/if}}/>
      </div>
      {{/if}}
      {{#if password}}
      <div class="group">
        {{#if password.legend}}<span class="legend">{{{password.legend}}}</span>{{/if}}
        <input id="{{password.id}}" value="{{{password.value}}}" type="password" />
      </div>
      {{/if}}
      {{#if textinput}}
        {{#if textinput.legend}}<span class="legend">{{{textinput.legend}}}</span>{{/if}}
        <textarea id="{{textinput.id}}" class="textinput {{{textinput.class}}}" {{#if textinput.label}}placeholder="{{textinput.label}}"{{/if}}></textarea>
      {{/if}}
      {{#if button}}
      <div class="group">
        <a {{#if button.link}}href="{{{button.link}}}"{{/if}} target="_blank" class="button {{{button.class}}}" onClick="{{{button.onClick}}}">{{{button.text}}}</a>
      </div>
      {{/if}}
      {{#if checkbox}}
      <div class="group">
        <input type="checkbox" id="{{checkbox.id}}" {{#if checkbox.checked}}checked{{/if}} {{#if checkbox.onclick}}onclick="{{checkbox.onclick}}"{{/if}}>
        <span class="label">{{{checkbox.label}}}</span>
      </div>
      {{/if}}
      {{#if submit}}
      <div class="submit">
        <a {{#if submit.link}}href="{{{submit.link}}}"{{/if}} target="_blank" class="button" onClick="{{{submit.onClick}}}">{{{submit.text}}}</a>
      </div>
      {{/if}}
      {{#if group}}
        <div class="group">
          {{#if group.legend}}<span class="legend">{{group.legend}}</span>{{/if}}
          <div class="group-items">
            {{#each group.formitems}}
              {{#if checkbox}}
              <div class="item">
                <input type="checkbox" id="{{checkbox.id}}" {{#if checkbox.checked}}checked{{/if}} {{#if checkbox.onclick}}onclick="{{checkbox.onclick}}"{{/if}}>
                <span class="label">{{{checkbox.label}}}</span>
              </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/each}}
    </div>
  {{/if}}
  {{#if footer}}
    <div class="text footer">{{{footer}}}</div>
  {{/if}}
  </div>
</div>
