<div class="scan">
  <table class="description" onclick="ScanList.toggleCollapse(this);">
    <tr>
      <td class="reported-by"><a href="javascript:CCPEVE.showInfo(1377, {{reporterId}});">{{reporterName}}</a> shared scan results</td>
      <td class="system"><a href="javascript:CCPEVE.showInfo(5,{{systemId}});">{{systemName}}</a></td>
      <td class="actions">
        <a title="Permalink" target="_blank" href="/scans/{{_id}}/"><i class="fa fa-external-link-square" title="Scan Permalink"></i></a>
      </td>
      <td class="reported-at">{{time}}</td>
    </tr>
  </table>
  <div class="results-container collapsible">
    <ul class="actions">
      <li><a class="btn" onclick="scanFilter(this, 'grid');">On Grid</a></li>
      <li><a class="btn" onclick="scanFilter(this, 'offgrid');">Off Grid</a></li>
    </ul>
    <div class="scan-classes">
    {{#each shipClasses}}
      <div class="result">
        <span class="ship-class">{{count}}x <b>{{shipClass}}</b></span>
      </div>
    {{/each}}
    </div>
    <div class="type-classes">
    {{#each shipTypes}}
      <div class="result">
        <span class="ship-type" onclick="ScanList.toggleCollapse(this)">{{count}}x <b>{{shipType}}</b></span>

        {{#each details}}
        <div class="details-container collapsible">
          <span class="ship-name">{{shipName}}</span>
          <span class="distance">{{distance}}</span>
        </div>
        {{/each}}
      </div>
    {{/each}}
    </div>
  </div>
</div>
