<dl>
  <h4>Details</h4>
  <dt>System</dt>
  <dd class="system">{{ name }}</dd>
  
  <dt>Region</dt>
  <dd class="region">{{ region }}</dd>

  <dt>Status</dt>
  <dd class="status">
    {{ hostile_count }} <i class="fa fa-fighter-jet" title="Hostiles"></i>
    {{ faded_count }} <i class="fa fa-eye-slash" title="Faded Hostiles"></i> 
  </dd>
  
  <dt>Last Report</dt>
  <dd class="last-report">{{ last_report }}</dd>

  {{#if jumps}}
  <dt>Gates</dt>
  <dd class="gates">
    <ul>
      {{#each jumps}}
      <li><i class="fa fa-chevron-right"></i>{{name}}</li>
      {{/each}}
    </ul>
  </dd>
  {{/if}}
  
  {{#if advisories}}
  <dt>Advisories<dt>
  <dd class="advisories">
    <ul>
      {{#each advisories }}
      <li><i class="fa fa-bolt"></i> {{ type }}</li>
      {{/each}}      
    </ul>
  </dd>
  {{/if}}
  
  <h4>Report Advisory</h4>
  
  <a class="btn present" href="#" title="Wormhole Detected"><i class="fa fa-bolt"></i> Wormhole</a>
  <a class="btn" href="#" title="Hostile Cloaked"><i class="fa fa-bolt"></i> Cloaked</a>
  <a class="btn" href="#" title="Hostile Logged Off"><i class="fa fa-bolt"></i> Logged Off</a>
  <a class="btn present" href="#" title="Undock Camped"><i class="fa fa-bolt"></i> Undock</a>
  <a class="btn" href="#" title="Gate Bubbled"><i class="fa fa-bolt"></i> Bubbled</a>    
</dl>
