<div class="details">
  <h4>Solar System Details</h4>
  <dl>
    <dt>System</dt>
    <dd class="system">{{ name }}</dd>

    <dt>Region</dt>
    <dd class="region">{{ region }}</dd>

    {{#if wormhole_class}}
    <dt>WH Class</dt>
    <dd class="wormhole-class">C{{ wormhole_class }}</dd>
    
    {{else}}
    <dt>Security Class</dt>
    <dd class="security-class">{{ security_class }}</dd>

    <dt>Security Level</dt>
    <dd class="security-level">{{ security }}</dd>
    {{/if}}
    
    <dt>Last Report</dt>
    <dd class="last-report">{{ last_report }}</dd>

    {{#if hostiles}}
    <dt>Hostiles</dt>
    <dd class="hostiles">
      {{#each hostiles}}
        <div class="hostile" onClick="UIPanels.updateHostileDetailsPanel('{{characterId}}');">
          {{#if is_faded}}
          <i class="fa fa-clock-o" title="Faded"></i> {{characterName}}
          {{else}}
          <i class="fa fa-fighter-jet" title="Active"></i> {{characterName}}
          {{/if}}
        </div>
      {{/each}}
    </dd>
    {{/if}}
    
    {{#if jumps}}
    <dt>Gates</dt>
    <dd class="gates">
      <ul>
        {{#each jumps}}
        <li><i class="fa fa-chevron-right"></i>{{name}}</li>
        {{/each}}
      </ul>
    </dd>
    {{/if}}

    {{#if active_advisories}}
    <dt>Advisories<dt>
    <dd class="advisories">
      <ul>
        {{#each active_advisories }}
        <li><i class="fa fa-{{ui_icon type}}"></i> {{ type }}</li>
        {{/each}}
      </ul>
    </dd>
    {{/if}}
  </dl>

  {{#if allow_report }}
  <h4 class="report-advisory">Report Advisory</h4>
  {{#each advisories}}
  <a class="btn {{#if present}}present{{/if}}" onclick="reportAdvisory(this, '{{ systemId }}', '{{ type }}')" title="{{ type }}"><i class="fa fa-{{ui_icon type}}"></i></a>
  {{/each}}
  {{/if}}

  <h4 class="external">External Resources</h4>  
  <a class="btn" target="_blank" href="http://evemaps.dotlan.net/system/{{ name }}">
    Dotlan
    <i class="fa fa-external-link-square"></i>
  </a>
</div>
