<div class="panel wormhole-update">
  <div class="header">
    {{#if closeable}}<i class="close fa fa-times fa-2x" onClick="UIPanels.hidePanel()"></i>{{/if}}
    {{#if icon}}<i class="fa fa-{{ui_icon icon}} fa-3x"></i>{{/if}}
    <div class="text title">Log Wormhole Traversal</div>
  </div>
  <div class="content">
    <div class="form">
      <input id="to" type="hidden" value="{{ to.id }}" />
      <input id="from" type="hidden" value="{{ from.id }}" />

      <div class="group inline">
        <label for="traversal-mass" autofocus>Fleet Mass</label>
        <input id="traversal-mass" type="text" placeholder="XX,XXX,XXX" value="50000000"/>
      </div>
      
      <div class="group inline">
        <label for="traversal-fleet">Fleet Name</label>
        <input id="traversal-fleet" type="text" placeholder="Reavers" value="Reavers"/>
      </div>
      
      <div class="group inline">
        <label for="traversal-fc">FC Name</label>
        <input id="traversal-fc" type="text" placeholder="Asher Elias" value="Asher Elias"/>
      </div>

      <div class="submit">
        <a target="_blank" class="button" onClick="updateWormholeTraversal(this, {{from.id}}, {{to.id}})">Log Traversal</a>
      </div>
    </div>
  </div>
</div>
