<div class="wormhole-link-details">
  <h4>{{ link_a.source.system.name }}<i class="fa fa-long-arrow-right"></i> {{ link_b.source.system.name }}</h4>
  <dl>
    <dt>Signature ID</dt>
    {{#if link_a.wormhole_data.signature}}
    <dd class="signature">{{ link_a.wormhole_data.signature }}</dd>
    {{else}}
    <dd class="signature">Not Scanned</dd>
    {{/if}}
    
    {{#if link_a.wormhole_data.code}}
    <dt>Jump Type</dt>
    <dd class="code">{{ link_a.wormhole_data.code }}</dd>
    {{/if}}
  </dl>
  
  <h4>{{ link_b.source.system.name }}<i class="fa fa-long-arrow-right"></i> {{ link_a.source.system.name }}</h4>
  <dl>
    <dt>Signature ID</dt>
    {{#if link_b.wormhole_data.signature}}
    <dd class="signature">{{ link_b.wormhole_data.signature }}</dd>
    {{else}}
    <dd class="signature">{{ link_b.wormhole_data.signature }}</dd>
    {{/if}}
    
    {{#if link_b.wormhole_data.code}}
    <dt>Jump Type</dt>
    <dd class="code">{{ link_b.wormhole_data.code }}</dd>
    {{/if}}
  </dl>
  
  <h4>Jump Estimates</h4>
  <dl>
    {{#if link_a.wormhole_data.lifespan_estimate}}
    <dt>Lifespan</dt>
    <dd class="lifespan">{{ link_a.wormhole_data.lifespan_estimate }}</dd>
    {{/if}}
    
    {{#if link_a.wormhole_data.jump_mass}}
    <dt>Jump Limit</dt>
    <dd class="jump-mass">{{ add_commas link_a.wormhole_data.jump_mass }} KG</dd>
    {{/if}}
    
    {{#if link_a.wormhole_data.mass_total}}
    <dt>Mass Left</dt>
    <dd class="mass">{{ add_commas link_a.wormhole_data.mass_total }} KG</dd>
    {{/if}}

    {{#if link_a.wormhole_data.mass_total}}
    <dt>Allowed Ships</dt>
    <dd class="permitted-ships">
      {{#each link_a.permitted_ships }}
      <img src="/images/ship-icons/{{this}}.png" title="{{this}}" alt="{{this}}" />
      {{/each}}
    </dd>
    {{/if}}
    
    <dt>Expires</dt>
    <dd class="expires-on">{{ format_ts_short link_a.wormhole_data.expires_on }}</dd>
    
    <dt>Last Updated</dt>
    <dd class="updated-at">{{ format_ts_short link_a.updated_at }}</dd>
  </dl>

  {{#unless read_only }}
    <h4>Update Link Actions</h4>
    <a class="btn btn-info" onclick="UIPanels.updateWormholeLinkPanel(this, '{{ link_a.source.system.id }}', '{{ link_a.target.system.id}}')" title="Update">
      <i class="fa fa-{{ui_icon 'info'}}"></i> Update
    </a>

    <a class="btn btn-danger" onclick="updateWormholeLink(this, '{{ link_a.source.system.id }}', '{{ link_a.target.system.id}}', 'Wormhole collapsed')" title="Close">
      <i class="fa fa-{{ui_icon 'close'}}"></i> Clear
    </a>  
  {{/unless}}
</div>
