<div class="wormhole-link-details">
  <h4>Wormhole Link Details</h4>
  <dl>
    {{#if wormhole_data.signature}}
    <dt>Signature ID</dt>
    <dd class="signature">{{ wormhole_data.signature }}</dd>
    {{/if}}

    <dt>From</dt>
    <dd class="system">{{ source.system.name }}</dd>
        
    <dt>To</dt>
    <dd class="system">{{ target.system.name }}</dd>

    <!-- <dt>Discovered</dt>
    <dd class="discovered-on">{{ format_ts_short wormhole_data.discovered_on }}</dd> -->
    
    {{#if wormhole_data.lifespan_estimate}}
    <dt>Lifespan</dt>
    <dd class="lifespan">{{ wormhole_data.lifespan_estimate }}</dd>
    {{/if}}

    {{#if wormhole_data.mass_estimate}}
    <dt>Mass</dt>
    <dd class="mass">{{ wormhole_data.mass_estimate }}</dd>
    {{/if}}

    <dt>Expires</dt>
    <dd class="expires-on">{{ format_ts_short wormhole_data.expires_on }}</dd>
    
    <dt>Last Updated</dt>
    <dd class="updated-at">{{ format_ts_short updated_at }}</dd>
  </dl>
  
  <h4>Update Link Actions</h4>
  <a class="btn" onclick="updateWormholeLink(this, 'expire', '{{ source.system.id }}', '{{ target.system.id}}', 'Wormhole collapsed')" title="Close">
    <i class="fa fa-{{ui_icon 'close'}}"></i>
  </a>

  
</div>
